.disabled:hover{
    cursor: not-allowed!important;
  }

  .quiz-counter, .timer-counter{
    float: right;
    font-weight: bold;
    font-size: xx-large;
  }

  .quiz-review-icon{
    width: 5%;    
    margin-left: 2%;
  }

  .quiz-review-cross-icon{
    width: 3%;
    margin-left: 4%;
  }

  .score-counter{
    font-weight: bold;
    font-size: xx-large;
  }

  .quiz-board{
    margin-bottom: 4%;
  }