

  
    <h3>Enter details to start Quiz</h3>
  
    <form [formGroup]="formdata" (ngSubmit)="saveUserInfo(formdata.value)">
      <div class="row">
  
  
        <div class="form-group margin-top row">
          <label>Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Name"
            formControlName="name">
        </div>
  
        <div class="form-group margin-top row">
          <label>Email</label>
          <input type="text" name="email" placeholder="Enter Email" class="form-control" formControlName="email" email="true">
        </div>
        
        
        <div [ngClass]="formdata.valid === true ? 'margin-top row' : 'disabled margin-top row'">
          <input id="submitButton" type="submit" [disabled]="!formdata.valid" class="btn btn-primary" value="Start Quiz" />
        </div>
      
  
      </div>
    </form>
  
  

